html,body,div,p,ul,li,ol,dl,dt,dd,table,tr,td,th,form,fieldset,legend,h1,h2,h3,h4,h5,h6,hr,input,img{
		margin:0;
		padding:0;
	}
	body{
		font-size: 12px;
		font-family: "微软雅黑" ,Arial;
	}
	li{
		list-style: none;
	}
	a{
		text-decoration: none;
	}
	img{
		border:0;
	}
		/*清除浮动*/
	.clear_float:after{
		display: block;
		height: 0;
		content:".";
		visibility: hidden;
		overflow: hidden;
		clear: both;
	}


/*顶部条*/
	.toolbar{
		width:100%;
		height: 29px;
		border-bottom:1px solid #e7e7e7;
	}
	.toolbar_content{
		width:1200px;
		height: 29px;
		margin:0 auto;
	}
	/*顶部登录块-左侧-登录状态*/
	.toolbar_content_left_logined{
		height: 29px;
		line-height: 29px;
		float: left;
	}
	.toolbar_content_left_logined p{
		float: left;
		margin-right: 12px;
	}
	.toolbar_content_left_logined p span{
		float: left;
		margin:0 3px;
	}
	.toolbar_content_left_logined a{
		float: left;
		color:#ed4545;
	}
	.toolbar_content_left_logined a:hover{
		text-decoration: underline;
	}
	/*顶部登录块-左侧-未登录状态*/
	.toolbar_content_left{
		height: 29px;
		line-height: 29px;
		float: left;
	}
	.toolbar_content_left li{
		float:left;
		margin-right: 10px;
		font-size: 12px;
		color:#555555;
	}
	.toolbar_content_left li a{
		color:#ed4545;
	}
	.toolbar_content_left li:nth-child(n+4) a{
		display: block;
		text-indent: -9999px;
		margin-top: 4px;
	}
	/*登录*/
	.toolbar_content_left li:nth-child(2) a:hover,
	.toolbar_content_left li:nth-child(3) a:hover{
		text-decoration: underline;
	}
	/*注册*/

	/*支付宝登录*/
	.toolbar_content_left li:nth-child(4) a{
		width:90px;
		background:url("../images/img_index/switch_img.png") no-repeat;
	} 
	/*QQ登录*/
	.toolbar_content_left li:nth-child(5) a{
		width:50px;
		background:url("../images/img_index/switch_img.png") -100px 0 no-repeat;
	} 
	/*微博登录*/
	.toolbar_content_left li:nth-child(6) a{
		width:85px;
		background:url("../images/img_index/switch_img.png") -160px 0 no-repeat;
	} 
	/*顶部信息块-右侧*/
	.toolbar_content_right{
		height: 29px;
		line-height: 29px;
		float:right;
	}
	.toolbar_content_right li{
		float:left;
		font-size: 12px;
		color:#555555;
		padding-left:5px;
		padding-right:5px;
	}

	/*我的良品*/
/*--------------我的良品头像 START--------------------*/
	.toolbar_content_right .myInfo_li{
		position:relative;
	}
	.myInfo_hover{
		display: none;
		position: absolute;
		background:#fff;
		border:1px solid #DDDDDD;
		z-index: 999;
		width: 265px;
	}
	.myInfo_top{
		width:255px;
		height: 70px;
		padding-left:10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.user_head{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		overflow: hidden;
		float: left;
		border:1px solid #ddd;
	}
	.myInfo_hover .myInfo_top>a{
		float: left;
		border:none;
		margin-top: 12px;
		margin-left: 17px;
		color:#000;
	}
	.myInfo_mid{
		width: 235px;
		height: 106px;
		padding:0px 15px;
		background: #fff;
	}
	.myInfo_mid li{
		width:100px;
	}
	.myInfo_mid>li a{
		color:#555;
	}
	.myInfo_mid li:nth-child(odd){
		margin-right: 10px;
	}
	.myInfo_hover .myInfo_mid li:nth-child(n+5){
		background:#E61F19;
		border-radius: 3px;
		text-align: center;
		margin-top: 5px;
	}
	.myInfo_hover .myInfo_mid li:nth-child(n+5) a{
		color:white;
	}
	.myInfo_bottom{
		border-top: 1px dotted #DDDDDD;
		height: 40px;
		padding: 0px 10px;
		padding-top: 10px;
	}
	.myInfo_bottom p{
		color: #555555;
		font-weight: bold;
		margin-left: 5px;
	}
	.myInfo_bottom p span{
		float: right;
		margin-right: 10px;
		font-weight: normal;
	}
	.toolbar_content_right .myInfo{
		position:relative;
	}
	.arrow{
		position:absolute;
		right: 10px;
    	top: 4px;
		display: block;
		width: 10px;
		height: 10px;
		background:url("../images/img_index/arrow_down.png") no-repeat center center;
		transition: transform 0.1s ease-in 0s;
	}
	.myInfo_li:hover .arrow{
		transform: rotate(-180deg);
	}
/*--------------我的良品头像 END--------------------*/
/*关注良品STERT*/
	.attention_li{
		position: relative;
	}
	.attention{
		display: none;
		left: -6px;
		position: absolute;
		width:153px;
		height: 294px;
		background: #fff;
		border:1px solid #ddd;
		z-index: 999;
		padding:10px;
		padding-top: 0;
	}
	.attention_mid{
		width: 153px;
		margin-top: 10px;
	}
	.attention_mid img{
		width: 100%;
	}
	.wb{
		border-bottom: 1px dotted #ddd;
	}
	.attention_bottom{
		background: red;
	}
	.attention_bottom img{
		float: left;
	}
	.attention_bottom div{
		margin-left: 5px;
		float: left;
	}
	.attention_bottom div p{
		height: 16px;
		line-height: 16px;
	}


	.toolbar_content_right>li>a{
		padding-right: 10px;
		border-right: 1px solid #DDDDDD;
		color:#555;
	}
	.toolbar_content_right a:hover{		
		color:#e60012;
		text-decoration: underline;
	}
	/*我的良品*/
	.toolbar_content_right .myInfo{
		position: relative;
		padding-right: 25px;
	}
	.toolbar_content_right .tel_img{
		float: left;
		display: block;
		height: 25px;
		width: 25px;
		background:url("../images/img_index/get_icon.png") 5px 7px no-repeat;
	}

	.toolbar_content_right .tel_num{
		font-family: "微软雅黑";
		font-size: 15px;
		color:#FF5160;
		font-weight: bold;
	}
	.toolbar_content_right>li:last-child>a{
		display: block;
		width:100%;
		height: 100%;
		background:#F14648;
		text-align: center;
		color:white;
		border:none;
		padding-left: 5px;
	}
	.toolbar_content_right .chat{
		float: right;
		width:22px;
		height: 16px;
		margin-top: 6px;
		background:url(../images/img_index/switch_img.png) -410px 0 no-repeat;
	}

	/*header*/
	.header{
		width:100%;
		border-bottom:4px solid #e61f18;
	}
	.header_main{
		padding-bottom: 20px;
		width:1200px;
		height: 82px;		
		margin:0 auto;
	}
	.main_logo{
		float: left;
		width:192px;
		height: 46px;
		margin-top:30px;
	}
	.main_logo a{
		display: block;
		width: 192px;
		height: 46px;
		text-indent: -999px;
		background:url(../images/img_index/logo.png);
	}
	.main_search{
		width:468px;
		height: 83px;
		float: left;
		margin-left: 137px;
	}
	.main_search .search_box{
		margin-top: 30px;
	}
	.search_box p{
		font-size: 12px;
		color: #555555;
		text-indent: 15px;
		margin-bottom: 3px;
	}
	.search_box p span{
		color:#ff5160;
	}
	.search_box p a{
		color:#555;
	}
	.search_box p a:hover{
		text-decoration: underline;
	}

	.search_bar{
		width:390px;
		border:1px solid #f15152;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		height: 31px;
		font-size: 12px;
		color:#666666;
		outline: none;
		float: left;
		padding:0 15px;
	}
	.search_btn{
		float: left;
		width: 45px;
		height: 33px;
		border:none;
		background:url("../images/img_index/switch_img.png") -474px -30px no-repeat;
		outline: none;
		cursor: pointer;
	}
	.main_buy{
		float: right;
		margin-top: 47px;
		position: relative;
	}
	.main_buy .buy_show{
		position: absolute;
		width:330px;
		border:1px solid #ddd;
		z-index: 999;
		left: -191px;
		display: none;
	}
	.main_buy .buy_show>p{
		color:#787878;
		text-indent: 10px;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
		background:#FFFFFF;
	}
	.buy_show table{
		width: 100%;
 		border-spacing: 0;
 		background:#FFFFFF;
	}
	.buy_show table tr img{
		display: block;
		width:50px;
		height:50px;
		border:1px solid #DEDEDE;
	}
	.tr_shop_img{
		padding:3px 3px;
	}
	.buy_show tr td{
		border-bottom: 1px dotted #DDDDDD;
	}
	.buy_show tr td b{
		font-weight: 100;
		color:#FF0000;
	}
	.buy_show tr td i{
		font-style: normal;
	}
	.buy_show tr td a{
		color:#555;
	}
	.buy_show tr td a:hover{
		text-decoration: underline;
	}
	.buy_show_bottom{
		background:#eee;
	}
	.buy_show_bottom .buy_right{
		width:100%;
		text-align: right;
		padding-right: 10px;
		box-sizing: border-box;
		padding-bottom: 10px;
	}
	.buy_right>p{
		height: 40px;
		line-height: 40px;
		color: #555;
	}
	.buy_right span{
		color:#ff0000;
	}
	.buy_right>a{
		height: 26px;
		line-height: 26px;
		float:right;
		padding:2px 10px;
		color:#FFF;
		background:#F04647;
		border-radius: 15px;
	}
	.buy_right>a:hover{
		text-decoration: underline;
	}

	.main_buy>a{
		display: block;
		width: 103px;
		height: 32px;
		color:#fff;
		line-height: 32px;
		padding-left: 20px;
		margin-left: 15px;
		background: url("../images/img_index/switch_img.png") -137px -73px no-repeat;
		font-size: 13px;
	}
	.main_buy>a:hover{
		text-decoration: underline;
	}
	.main_buy>span{
		position: absolute;
		top: -15px;
		right: 26px;
		width:8px;
		height: 25px;
		line-height: 20px;
		font-size: 12px;
		background:url("../images/img_index/switch_img.png") -585px -65px no-repeat;
	}
	.main_buy>span b{
		position: absolute;
		right: -15px;
		width: 15px;	
		float: right;
		color: #E61002;
		font-weight: 100;
		height: 20px;
		font-family: "Microsoft YaHei";
		background:url("../images/img_index/switch_img.png") right -40px no-repeat;
	}
/*侧边栏*/
	.right_navbar{
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		width: 36px;
		height: 100%;
		background:#363940;
	}
	.rnb_list{
		margin-top: 50px;
	}
	.rnb_list li{
		height: 35px;
		margin-top: 10px;
		font:13px/35px "Microsoft YaHei";
		vertical-align: top;
	}
	.right_navbar a.hvr{
		position: relative;
	}
	.right_navbar a{
		color:white;
		display: block;
		height: 100%;
		vertical-align: top;
	}
	.right_navbar .icon{
		display: block;
		width: 36px;
		height: 35px;
		background:#363940 url(../images/img_index/get_icon.png) -97px -596px no-repeat;
		z-index: 10;
		transition: background-color 0.5s;
	}
	.right_navbar .gw{
		height: 120px;
	}
	.right_navbar .gw span{
	    display: block;
	    width: 16px;
	    padding: 0 10px 6px;
	    line-height: 18px;
	    text-align: center;
	    color: #fff;
	}
	.right_navbar .gw .sum{
	    display: block;
	    width: 24px;
	    height: 24px;
	    margin: 0 auto;
	    line-height: 24px;
	    text-align: center;
	    color: #fff;
	    vertical-align: top;
	    background: url(../images/img_index/get_icon.png) -104px -1006px no-repeat;
	}
	.right_navbar a.hvr span{
		opacity: 0;
	    right: -55px;
	    display: block;
	    overflow: hidden;
	    width: 76px;
	    position: absolute;
	    top: 0;
	    padding-left: 10px;
	    height: 100%;
	    color: #fff;
	    white-space: nowrap;
	    background: #df2627;
	    z-index: -1;
	    transition: all 0.5s;
	    text-align: center;
	}
	.right_navbar a.hvr:hover span{
		right:36px;
		opacity: 1;
	}

	.right_navbar .kf .icon{
		background-position: -97px -594px;
		
	}
	.right_navbar .gw .icon{
		background-position: -97px -638px;
		
	}
	.right_navbar .hy .icon{
		background-position: -97px -684px;
		
	}
	.right_navbar .yh .icon{
		background-position: -97px -731px;
		
	}
	.right_navbar .sc .icon{
		background-position: -97px -780px;
		
	}
	.right_navbar .rnb_link{
		position: absolute;
		left: 0;
		bottom: 0;
		width:100%;
	}	
	.right_navbar .qr .cust{
		position: absolute;
		bottom: 10px;
		left: -152px;
		width: 150px;
		height: 175px;
		border:1px solid #d1d1d1;	
		background:#fff;
		z-index: -1;
		display: none;
	}
	.right_navbar .qr .icon{
		background-position: -97px -925px;		
	}
	.right_navbar .goback .icon{
		background-position: -97px -968px;
	}
	.right_navbar li:hover .icon{
		background-color:#DF2627;
	}
	.right_navbar .gw{
		transition: background-color 0.5s;
	}
	.right_navbar .gw:hover{
		background-color:#DF2627;	
	}
	.goback span{
		line-height: 35px;
	}


	/*左侧边栏*/
	.floor_nav{
		position: fixed;
		top: 50%;
		left: 20px;
		z-index: 3;
		margin-top: -145px;
		width: 42px;
		display: none;
	}
	.floor_nav .fn_tit{
		display: block;
		width: 32px;
		height: 37px;
		color:#fff;
		text-align: center;
		font:14px/14px "Microsoft YaHei";
		padding: 7px 5px 0 5px;
		background:#df2627;
	}
	.floor_nav ul{
		background: #fff;
	}
	.floor_nav ul li{
		width: 42px;
	}
	.floor_nav ul li a{
		display: block;
		width: 30px;
		height: 33px;
		font:14px/14px "Microsoft YaHei";
		text-align: center;
		padding: 7px 5px 0 5px;
		border:1px solid #dedede;
		border-top: none;
		overflow: hidden;
		color:#555;
	}
	.floor_nav ul li a i{
		display: block;
		width: 100%;
		height: 100%;
		background: red;
		background:url(../images/img_index/left_menu_icon.png) -5px -7px no-repeat;
	}
	.floor_nav ul li a span{
		width: 100%;
		height: 100%;
		color:white;
		display: none;
	}
	.floor_nav .floor_nav_01 i{
		background-position:  -5px -7px;
	}
	.floor_nav .floor_nav_02 i{
		background-position:  -5px -48px;
	}
	.floor_nav .floor_nav_03 i{
		background-position:  -5px -89px;
	}
	.floor_nav .floor_nav_04 i{
		background-position:  -5px -130px;
	}
	.floor_nav .floor_nav_05 i{
		background-position:  -5px -171px;
	}
	.floor_nav .floor_nav_06 i{
		background-position:  -5px -212px;
	}


	.floor_nav li:hover{
		background:#df2627;
	}
	.floor_nav li:hover a{
		border-color:#df2627;
	}

	.floor_nav li:hover i{
		display: none;
	}
	.floor_nav li:hover span{
		display: block;
	}
	
	/*footer*/
	.footer{
		width: 100%;
		margin-top: 20px;
		font-family: "Microsoft YaHei";
		background: #f5f5f5;
	}
	.foot_service{
		border-bottom: 1px solid #dfdfdf;
		background:#fff;
	}
	.foot_service ul{
		width: 1150px;
		margin:0 auto;
		padding: 20px 0 20px 50px;
		overflow: hidden;
	}
	.foot_service ul li{
		float: left;
		width: 150px;
		line-height: 20px;
		font-size: 16px;
		padding-left: 40px;
		background:url(../images/img_index/get_icon.png) 0 -180px no-repeat;
	}
	.foot_service ul li:nth-child(1){
		background-position: 0 -180px;
	}
	.foot_service ul li:nth-child(2){
		background-position: 0 -228px;
	}
	.foot_service ul li:nth-child(3){
		background-position: 0 -277px;
	}
	.foot_service ul li:nth-child(4){
		background-position: 0 -327px;
	}
	.foot_service ul li:nth-child(5){
		background-position: 0 -373px;
	}
	.foot_service ul li:nth-child(6){
		background-position: 0 -425px;
	}
	.foot_service ul li em{
		color: #333;
		font-style: normal;
	}
	.foot_service ul li p{
		color:#777;
	}
	/*foot_area*/
	.foot_area{
		width:1200px;
		margin:0 auto;
	}
	.foot_cont{
		padding:15px 0px 5px 35px;
		overflow: hidden;
	}
	.fc_contact{
		float: left;
		width: 240px;
	}
	.ctt_icon{
		float: left;
		width: 16px;
		height: 16px;
		margin-top: 10px;
		text-indent: -999px;
		overflow: hidden;
		background:url(../images/img_index/get_icon.png) 0 0 no-repeat;
	}
	.ctt_txt{
		margin-left: 30px;
	}
	.ctt_txt p{
		font-size: 14px;
		padding: 5px 0;
		color: #8a8a8a;
	}
	.ctt_txt strong{
		font-size: 16px;
		color: #555;
	}
	.fc_link{
		float: left;
		padding-left: 40px;
	}
	.fc_link dl{
		float: left;
		width: 120px;
	}
	.fc_link dl dt{
		line-height: 40px;
		font-size: 14px;
		color: #555;
	}
	.fc_link dl dd a{
		display: block;
		height: 22px;
		line-height: 22px;
		color: #666;
		font-size: 12px;
	}
	.fc_link dl dd a:hover{
		text-decoration: underline;
	}
	.fc_follow{
		float: right;
		width:266px;
	}
	.fc_follow .qr_code{
		float: left;
		overflow: hidden;
	}
	.qr_code_top{
		width:115px;
		height: 130px;
		padding: 5px;
		background: white;
	}
	.fc_follow .qr_code img{
		display: block;
		width: 100%;
		height: 100%;
	}
	.fc_follow .qr_code span{
		display: block;
		height: 25px;
		line-height: 25px;
		font-size: 13px;
		text-align: center;
	}
	.weibo_mail{
		float: left;
		margin-left: 5px;
	}
	.weibo_mail p{
		height: 30px;
	    line-height: 30px;
	    font-size: 14px;
	    color: #8a8a8a;
	}
	/*foot_nav*/
	.foot_nav{
		text-align: center;
	}
	.foot_nav ul{
		display: inline-block;
	}
	.foot_nav ul li{
		float: left;
		
	}
	.foot_nav ul li a{
		padding: 0 20px;
		color: #555;
		font-size: 12px;
		border-right: 1px solid #A4BEE3;
	}
	.foot_nav ul li a:hover{
		color: #e60012;
   		text-decoration: underline;
	}
	.foot_nav ul li:last-child a{
		border:none;
	}
	/*foot_copyright*/
	.foot_copyright{
		text-align: center;
		padding:20px 0;
		color: #777;
	}
	.foot_copyright a{
		color: #777;
	} 
	.foot_copyright a:hover{
		text-decoration: underline;
	}
