.menu_center a {
    margin-left: 0px; 
}

.menu_center a:last-child {
    margin-left: 10px; 
}
.toolbar_content, .header_main, .menu_center, .nav_content {
  width: 980px; 
}

.menu_center a {
  float: left; 
}

.nav {
  height: 0px;
}

.nav_content {
  height: 0px; 
}
  
//cart
.cart{
    background:#f3f3f3;
    height:500px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.cart_cont{
    width:980px;
    margin:0 auto;
    background:#FFF;
    border:1px solid #eeeeee;
    padding:10px 15px;
}
.cart_cont_tit{
    height: 38px;
    margin-bottom: 15px;
    background:url(../images/img_cart/cart.gif) no-repeat;
}
.cart_cont_tit .cart_current{
    color:#FFFFFF;
}
.cart_cont_tit li{
    width: 150px;
    height: 38px;
    line-height: 38px;
    float: left;
    padding-left: 50px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
.cart_cont_area table{
    width:100%; 
    border-spacing: 0;   
    input{
        outline: none;
    }
}
.cart_cont_area table th{
    line-height: 36px;
    padding:0 6px;
    font-weight: 600;
    text-align: left;
}
.cart_cont_area table tr:first-child{
    background: #ededed;
}
.cart_cont_area table td{
    line-height: 20px;
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    font-family: "Microsoft YaHei";    
}
.cart_cont_area table a{
    color: #333;
    font-family: arial,simsun;
}
.cart_cont_area table img{
    width:60px;
    height: 60px;
}
.cart_shop_num{
    width:82px;
    height: 18px;
}
.cart_shop_num span{
    float: left;
    width:18px;
    height: 18; 
    background:#f9f9f9;
    border:1px solid #dbdbdb;
    color:#777777;
    text-align: center;
    cursor: pointer;
}
.cart_shop_num input{
    float:left;
    width:34px;
    height: 20px;
    border:none;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    text-align: center;
    padding:0 auto;
}
.cart_total{
    padding:10px 0;
    input{
        vertical-align: middle;
        outline: none;
    }
    a{
        margin:0 5px;
        color:#555;
        &:hover{
            color:#E60012;
        }
    }
    .cart_delete{
        margin-left: 20px;
    }
}

.cart_bottom{
    border:1px dotted #e4e4e4;
    background:#fdfdfd;  
    font-size: 14px;
    color:#666666;
    padding-top: 10px;
}
.bot_right{
    float: right;
}
.sec_left{
    float: left;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 25px;
    span:first-child{
        color:#ff6600;
    }
    span:nth-child(2){
        b{
            color:#ef0101;
            i{
                font-size: 24px;
                font-style: normal;
            }
        }
    }
    >span:first-child{
        margin-right: 30px;
    }
    >p{
        margin-left: 188px;
    }
}

.sec_right{
    float:left;
    margin-right: 10px;
    margin-top: 15px;
    a{
        display: inline-block;
        width: 150px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-family: "Microsoft YaHei";
        text-align: center;
        padding: 5px 15px;
        color: #ffffff;
        border-radius: 5px;
        background-color: #f04747;
        &:hover{
            background-color: #ff5353;
        }
    }
}
