.login .login_right{
    padding: 0px;
    border-top: none;
//  background:#fc9;
    width: 400px;
}
.login_right .tit{
    width:300px;
    height: 40px;
    line-height: 40px;
    margin-left: 100px;
    border-top: 3px solid #e83029;
}
.reg_list{
    width: 400px;
}
.reg_list li{
    position: relative;
    width:100%;
    line-height: 40px;
    padding: 13px 0;
    overflow: hidden;
    display: block;
    color:#555;
}
.reg_list>li>span{
    float: left;
    display: block;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-weight: normal;
    b{
         color:red;
         margin:0 5px;
    }
}
.reg_list>li>input{
    float: right;
    width: 280px;
    height: 38px;
    outline: none;
    border:1px solid #cccccc;
}
.reg_list>li:nth-child(-n+4) input{
    width: 265px;
    padding: 0 25px 0 10px;
}
.reg_list>li:nth-child(-n+4) input{
    width: 265px;
    padding: 0 25px 0 10px;
}
.login_right>.login_agree{
    margin-left: 100px;
    width: 300px;
    height: 40px;
    line-height: 40px;
}
.login_agree b{
    margin: 0 5px;
    color: red;
}
.login_agree input{
    margin-right: 10px;
    vertical-align: -2px;
}
.login_agree a{
    color:#e83029;
    &:hover{
        text-decoration: underline;
    }
}
.login_right>.login_btn{
    margin-left: 100px;
    width: 300px;
}
.username{
    background: url(../images/img_register/ico_login.png) right 8px no-repeat; 
}
.password{
    background: url(../images/img_register/ico_login.png) right -192px no-repeat;
}
.password_repeat{
    background: url(../images/img_register/ico_login.png) right -192px no-repeat;
}
.phone_num{
    background: url(../images/img_register/ico_login.png) right -58px no-repeat;
}
.reg_list>li>.verification_code{
    float: left;
    margin-left: 8px;
    width: 100px;
    padding:0 10px;
}
.verify{
    float:left;
    line-height: 38px;
}
.verify img{
    display: block;
    float: left;
    width: 80px;
    height: 38px;
    margin:1px 5px 0;
    cursor: pointer;
}
.change_other_code{
    color:#005ea7;
}
.login_right .message_verification_code{
    float: left;
    width: 142px;   
    margin-left: 8px;
    padding:0 10px;
}
.login_right .message_verification_code+a{
    float: left;
    width: 130px;
    height: 38px;
    color: #666;
    margin-left: 5px;
    cursor: pointer;
    border:1px solid #ddd;
    background: #f2f2f2;
    text-align:center; 
    &:hover{
        border: 1px solid #aaa;
        background: #eee;
        text-decoration: none;
    }
}
