.toolbar_content,.header_main,.menu_center,.nav_content{
    width:980px;
}
.menu_center a{
    float:left;
}
.nav{
    height: 0px;
}
.nav_content{
    height: 0px;
}
.menu{
    height: auto;
    top:-36px;
    z-index: 3;
}
.menu .menu_list{
    display: none;
}
.menu:hover>a>i{
    transform: rotate(-180deg);
}
.menu:hover>a{
    height: 35px;
}
.menu_show{
    top:34px;
}
    
//shop 商品展示和信息
.shop{
    width:100%;
    background:#f3f3f3;
}
.content{
    width:980px;
    margin:0 auto;
}
.content .title{
    height:40px;
    line-height: 40px;
}
.content .title>span{
    font-size: 12px;
    color:#666666;
}
.content .title a{
    color:#666666;
    &:hover{
        text-decoration: underline;
        color:#E60012; 
    }
}
//商品信息
.shop_detail{
    width:980px-42px;
    padding:20px;
    background:#FFFFFF;
    border:1px solid #d7d7d7;
    overflow: hidden;
    margin-bottom: 20px;
}
//左侧商品图
.shop_show{
    width:404px;
    height: 538px;
    float:left;
}
.shop_img{
    width:400px;
    height: 400px;
    background:url(../images/img_shop/1.jpg);
    background-size: 100% 100%;
    position:relative;
}
.shop_list{
    width:400px;
    height: 64px;
    position:relative;
    margin-top: 15px;
}
//两边箭头
.shop_list_control{
    display: block;
    position: absolute;
    top:0;
    width:14px;
    height: 64px;
    background: url(../images/img_index/switch_img.png) no-repeat;
}
#control_left{
    left:0px;
    background-position: -225px -479px;
    &:hover{
        background-position: -252px -479px;
    }
}
#control_right{
    right:0px;
    background-position: -239px -479px;
    &:hover{
        background-position: -267px -479px;
    }
}
//中间缩略小图
.small_imgs{
    position:absolute;
    left:30px;
}
.small_imgs li{
    float:left;
    width:60px;
    height: 60px;
    margin:0 2px;
    border:2px solid transparent;
}
.focus_li{
    border:2px solid #E4393C !important;
}
.small_imgs li img{
    width:60px;
    height: 60px;
}
.share{
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    font-family: SimSun,Arial,"Microsoft YaHei";
}
.share span:last-child{
   margin-left: 50px;
}
//右侧商品信息
.shop_infomation{
    float:left;
    margin-left:60px;
    margin-top:20px;
    font-family: arial,"microsoft yahei";
}
.shop_infomation h3{
    font-size: 18px;
    color:#666666;
}
.shop_infomation .shop_description{
    color:#e63c3f;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
}
.shop_info>div{
    height: 35px;
    line-height: 35px;
}
.shop_info>div>p{
    display: inline-block;
    font-size: 13px;
    color:#555555;
    width:80px;
    text-align: right;
}
.shop_info>div>span{
    color:#ff0000;
    font-size: 12px;
}
.shop_price b{
    font-size: 30px;
    font-weight: 100;
}
.grade i{
    display: inline-block;
    height: 12px;
    width:95px;
    background: url(../images/img_shop/star_icon.png)0 -96px no-repeat;
}
.shop_info>.grade>span{
    color:#000000;
}
.grade span a{
    color:#005ea7;
    &:hover{
        text-decoration: underline;
    }
}
.discount_info a{
    float:right;
    color:#333333;
    padding-right: 18px;
    background: url(../images/img_shop/drop_down.png) right center no-repeat;   
    &:hover{
        background: url(../images/img_shop/drop_up.png) right center no-repeat;
    }

}

.shop_num{
    height:28px;
    line-height: 28px;
    padding:16px 0px;
}
.shop_num>p:first-child{
    width:80px;
    text-align: right;
    float:left;
}
.shop_num>p:last-child{
    margin-left: 5px;
    float:left;
}
.btns{
    float:left;
}
.num_btn{
    display: inline-block;
    width:26px;
    height: 26px;
    background: #e5e5e5 url(../images/img_index/switch_img.png) -113px -110px no-repeat;
    border:1px solid #cccccc;
    outline: none;
    vertical-align: middle;
    float:left;
    cursor: pointer;
}
//数量
#shop_nums{
    width:30px;
    height: 26px;
    background:#fff;
    border:none;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    outline: none;
    float:left;
    text-align: center;
    padding:0 5px;
}
//减
#sub_num{
    background-position: -179px -110px;
}

.buy_join{
    padding: 20px 0 0 70px;
    overflow: hidden;
}
.buy_join a{
    float: left;
    display: block;
    width: 146px;
    height: 40px;
    text-indent: -999px;
    margin-right: 15px;
    overflow: hidden;
    background: url(../images/img_index/switch_img.png) 0 -145px no-repeat;
}    
.buy_join a:last-child{
    background-position: -156px -145px;
}

//more_info
.more_info{
    width:980px;
    margin:0 auto;
    overflow: hidden;
}
.introduce{
    position: relative;
    float: left;
    width:724px;
    padding-top: 40px;
    background: #FFFFFF;
}
.intro_tit{
    height: 40px;
    line-height: 40px;
    margin-top: -40px;
    background:#83878e;
}
.intro_tabs{
    float:left;
}
.intro_tabs li{
    float:left;
    height:40px;
    font-size: 14px;
    font-family: "微软雅黑";
}
.intro_tabs li a{
    float:left;
    display: block;
    height: 40px;
    padding: 0 15px;
    color:#FFFFFF;
    &:hover{
        font-weight: 600;
    }
}
.intro_tabs li.active a{
    background:#f04647;
}

.add_cart{
    float:right;
    width:222px;
    height:40px;
    font-family: "微软雅黑";
    background:url(../images/img_index/switch_img.png) 0 -195px no-repeat;
}
.add_cart .real_price{
    float:left;
    display: block;
    width:112px;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-left: 10px;
}
.real_price i{
    font-style: normal;
    font-size: 28px;
}
.shoping{
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    color:#555;
    &:hover{
        color:#E60055;
        text-decoration: underline;
    }
}
.shop_intro{
    padding:30px 10px 20px;  
    border: 1px solid #D8D8D8; 
}
.shop_intro img{
    display: block;
    width:100%;
}
.shop_intro .tip{
    padding:15px;
    margin-top: 15px;
    border: 1px solid #D8D8D8; 
}
.tip p{
    float:left;
    width:540px;
    font-size: 12px;
    font-family: SimSun,Arial,"Microsoft YaHei";
}
.tip a{
    float:right;
    width:115px;
    height: 30px;
    text-indent: -9999px;
    background:url(../images/img_index/switch_img.png) 0 -285px no-repeat;
}

//右侧
.recbar{
    float:right;
    width:242px;
}
.recbar_box{
    margin-bottom: 20px;
    background: #fff;
}
.recbar_box h2{
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    padding: 0 10px;
    background: #83878e;
}
.recbar_box .rec_area{
    border: 1px solid #d7d7d7;
    border-top: none;
}
.recbar_box .recbar_list{
    padding:5px 0 10px 10px;
}
.recbar_list li{
    font-size: 14px;
    font-family: "microsoft yahei";
    margin: 10px 0;
}
.recbar_list li .pic{
    display: block;
    width: 220px;
    height: 220px;
    border: 1px solid #ebebeb;
    overflow: hidden;
    &:hover{
        border-color:#CCCCCC;
    }
}
.recbar_list li .pic img{
    display: block;
    width: 220px;
    height: 220px;

}

.recbar_list li .tit {
    display: block;
    height: 28px;
    line-height: 28px;
    padding-top: 3px;
    overflow: hidden;
    color:#555;
}
.recbar_list li p {
    padding: 0 5px;
}
.recbar_list li p .price {
    color: #ff0000;
}
.history{
    width:980px;
    margin:20px auto;
    overflow: hidden;
}
.his_tit{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin-top: 20px;
    background: #83878e;
}
.history .his_tit h3 {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}
.history .his_cont {
    padding: 10px 0;
    position: relative;
    border: 1px solid #d7d7d7;
    border-top: none;
    background: #fff;
}
.history .his_cont .his_scroll {
    width: 924px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
}
.his_list{
    width: 940px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
}
.his_list li{
    float: left;
    width: 134px;
    height: 180px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    margin: 10px 0;
    padding: 0 10px;
    overflow: hidden;
}
.his_list li .pic{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    overflow: hidden;
    &:hover{
        border-color: #CCCCCC;
    }
}
.his_list li .pic img{
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.his_list li .tit{
    display: block;
    height: 36px;
    line-height: 18px;
    margin: 5px 0;
    overflow: hidden;
    color:#555555;
    &:hover{
        color:#E60012;
        text-decoration: underline;
    }
}
.his_list span{
    color: #ff0000;
}
.his_prev,.his_next{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 20px;
    height: 50px;
    line-height: 99em;
    overflow: hidden;
    background: url(../images/img_index/switch_img.png) 0 -325px no-repeat;
} 
.his_prev{
    left: 0;
    background-position: 0 -325px;
}
.his_next{
    right: 0;
    background-position: -60px -325px;
}