/*shop*/
	.shop_menu{
		width: 100%;
		height: 30px;
	}
	.menu_center{
		width: 1200px;
		margin:0 auto;
	}
	.menu_center a{
		width: 90px;
		text-align: center;
		font-weight: bold;
		display: inline-block;
		margin-left: 200px;
		color: #444444;
		font-size: 14px;
		height: 30px;
		line-height: 30px;

		background: #e61f19;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color:white;
	}

	/*nav*/
	.nav{
		width: 100%;
		height: 441px;
		background:#faf0e6;
		position: relative;
	}
	.nav_content{
		width: 1200px;
		height: 441px;
		margin:0 auto;
	}
	.menu_pos{
		width:183px;
		position: relative;
		height: 1px;
		float: left;
	}
	.menu{
		width:181px;
		height: 474px;
		border:1px solid #e61f19;
		position: absolute;
		top:-35px;
		background:white;
		float:left;
	}
	.menu>a{
		display: block;
		width: 181px;
		height: 34px;
		color: white;
		text-align: center;
		line-height: 34px;
		font-size: 15px;
		font-weight: bold;
		background:#e61f19 url("../images/img_index/get_icon.png") 35px -559px no-repeat;
	}
	.menu>a>i{
		position: absolute;
		right: 20px;
		top: 15px;
		width: 12px;
		height: 6px;
		background: url("../images/img_index/switch_img.png") -388px 0 no-repeat
	}
	.menu .menu_list{
		margin-top: 5px;
	}
	.menu ul li{
		width: 181px;
		height: 34px;
	}
	.menu>ul>li>a{
		display: block;
		width: 158px;
		height: 33px;
		color: #666666;
		text-align: center;
		line-height: 33px;
		font-size: 15px;
		border-bottom:1px solid #e8e8e8;
		margin:0 auto;
	}
	.menu_show{
		width:132px;
		height: 440px;
		position: absolute;
		border:1px solid #e61f19;
		left:181px;
		top: 33px;
		background:white;
		z-index: 10;
		display: none;
	}
	.menu_show .menu_item{
		width: 100%;
		height: 42px;
	}
	.menu_show .menu_item a{
		display: block;
		text-align: center;
		width: 132px;
		height: 41px;
		line-height: 42px;
		color:#555555;
		border-bottom: 1px solid #E8E8E8;
		cursor:pointer;
	}
	.menu_show .menu_item a:hover{
		text-decoration: underline;
		color:#E60012;
	}
	.menu li i{
		position: absolute;
	    width: 30px;
	    height: 33px;
	    left: 30px;
	}
	.menu_list li:nth-child(1) i{
		background:url(../images/img_index/menu_icon_normal.png) 0px 0px no-repeat;
	}
	.menu_list li:nth-child(2) i{
		background:url(../images/img_index/menu_icon_normal.png) 0px -36px no-repeat;
	}
	.menu_list li:nth-child(3) i{
		background:url(../images/img_index/menu_icon_normal.png) 0px -72px no-repeat;
	}
	.menu_list li:nth-child(4) i{
		background:url(../images/img_index/menu_icon_normal.png) 0px -108px no-repeat;
	}
	.menu_list li:nth-child(5) i{
		background:url(../images/img_index/menu_icon_normal.png) 0px -144px no-repeat;
	}
	.menu_list li:nth-child(6) i{
		background:url(../images/img_index/menu_icon_normal.png) 0px -180px no-repeat;
	}
	.menu_list li:nth-child(7) i{
		background:url(../images/img_index/menu_icon_normal.png) 0px -216px no-repeat;
	}
	.menu_list li:nth-child(8) i{
		background:url(../images/img_index/menu_icon_normal.png) 0px -252px no-repeat;
	}
	.menu_list li:nth-child(9) i{
		background:url(../images/img_index/menu_icon_normal.png) 0px -288px no-repeat;
	}
	.menu_list>li:hover{
		background:#e61f19;
	}
	.menu_list>li:hover>a{
		color:white;
		border-bottom: none;
		overflow: hidden;
	}
	/*hover*/
	.menu_list li:nth-child(1):hover i{
		background:url(../images/img_index/menu_icon_hover.png) 0px 0px no-repeat;
	}
	.menu_list li:nth-child(2):hover i{
		background:url(../images/img_index/menu_icon_hover.png) 0px -36px no-repeat;
	}
	.menu_list li:nth-child(3):hover i{
		background:url(../images/img_index/menu_icon_hover.png) 0px -72px no-repeat;
	}
	.menu_list li:nth-child(4):hover i{
		background:url(../images/img_index/menu_icon_hover.png) 0px -108px no-repeat;
	}
	.menu_list li:nth-child(5):hover i{
		background:url(../images/img_index/menu_icon_hover.png) 0px -144px no-repeat;
	}
	.menu_list li:nth-child(6):hover i{
		background:url(../images/img_index/menu_icon_hover.png) 0px -180px no-repeat;
	}
	.menu_list li:nth-child(7):hover i{
		background:url(../images/img_index/menu_icon_hover.png) 0px -216px no-repeat;
	}
	.menu_list li:nth-child(8):hover i{
		background:url(../images/img_index/menu_icon_hover.png) 0px -252px no-repeat;
	}
	.menu_list li:nth-child(9):hover i{
		background:url(../images/img_index/menu_icon_hover.png) 0px -288px no-repeat;
	}
	/*banner*/
	.banner{
		width: 800px;
		height: 440px;
		float: left;
		background:#faf0e6;
		border-bottom:1px solid #e61f19;
	}
	.swiper-container{
		width:800px;
		height: 440px;
	}
	.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-button-prev{
    	width:68px;
    	height: 68px;
    	border-radius: 50%;
    	background:url(../images/img_index/banner_arrow.png) -10px 0px no-repeat;
    	transition: background 0.5s;
    	margin-top: -45px;
    }
    .swiper-button-next{
    	width:68px;
    	height: 68px;
    	border-radius: 50%;
    	background:url(../images/img_index/banner_arrow.png) -96px 0px no-repeat;
    	transition: background 0.5s;
    	margin-top: -45px;
    }
    .swiper-button-prev:hover{
    	background:url(../images/img_index/banner_arrow_hover.png) -10px 0px no-repeat;
    }
    .swiper-button-next:hover{
    	background:url(../images/img_index/banner_arrow_hover.png) -96px 0px no-repeat;
    }

    .swiper-pagination-bullet {
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        font-size: 12px;
        color:#000;
        opacity: 1;
        background: rgba(0,0,0,0.2);
        transition:all 0.5s;
    }
    .swiper-pagination-bullet-active {
        color:#fff;
        background: #E61F19;
    }
	.nav_right{
		width:200px;
		height: 100%;
		float: left;
	}
	.nav_right img{
		float: left;
		width: 220px;
		height: 220px;
		border-right:1px solid #e61f19;
		border-left:1px solid #e61f19;
	}
	.nav_right img:last-child {
		border-bottom:1px solid #e61f19;
	}

	/*shop商品区*/
	.shop{
		width: 100%;
		overflow: hidden;
	}
	.discounts{
		width: 1200px;
		height: 280px;
		margin:25px auto;
		overflow: hidden;
		background:#fff;
	}
	.discounts li{
		float: left;
		width:22%;
		margin-right: 4%;
	}
	.shop_tit{
		font-size: 16px;
		height: 30px;
		line-height: 30px;
		color:#333333;
		float: left;
		margin-left: 16px;
	}
	.discounts img{
		width: 100%;
		height: 100%;
	}
	.discounts .last_li{
		margin: 0;
	}
	/*活动精选*/
	.shop_active{
		width: 1200px;
		margin:0px auto;
		margin-bottom: 20px;
	}
	.active_tit{
		position: relative;
	}
	.active_tit h3{
		margin-right: 75px;
	}
	.active_list{
		float: left;
		display: block;
		position: absolute;
		left: 150px;
		top: 1px;
	}
	.active_list li{
		float: left;
		font-size: 14px;
		font-family: "Microsoft YaHei";
	}
	.active_list li a{
		display: block;
		color:#555;
		width: 108px;
		height: 30px;
		line-height: 30px;
		padding-bottom: 6px;
		text-align: center;		
	}
	#active_focus{
		color: #fff;
		background:url(../images/img_index/switch_img.png) -120px -326px no-repeat;
	}
	.active_shop_list{
		width: 100%;
		height: 220px;
	}
	.active_shop_list li{
		float: left;
		width: 240px;
		height: 220px;
	}
	.active_shop_list li img{
		width: 100%;
		height: 100%;
	}
/*1F坚果炒货*/
	.one_floor{
		width: 1200px;
		margin:0px auto;
		margin-bottom: 20px;
	}
	/*标题栏*/
	.active_tit_floor{
		width: 100%;
		height: 30px;
	}
	.shop_tit_floor{
		font-size: 16px;
		color: #333;
		float: left;
		margin-right: 131px;
	}
	.shop_tit_floor span{
		font-size: 22px;
		color: #555;
		font-weight: bold;
		margin:0 10px;
	}
	.active_list_floor{
		float: left;
	}
	.active_list_floor li{
		width: 94px;
		line-height: 30px;
		text-align: center;
		float: left;
	}
	.active_list_floor li a{
		display: block;
		width: 100%;
		height: 100%;
		font-size: 13px;
		color: #ff5160;
	}
	#active_list_floor_focus{
		color:#fff;
		background:url(../images/img_index/switch_img.png) -238px -325px no-repeat;
	}
	.more_shop{
		float: right;
		font-size: 11px;
		color: #555;
		line-height: 30px;
	}
	.one_floor_ul{
		width: 100%;
		height: 340px;
	}
	.one_floor_ul li{
		float: left;
	}
	.third_shop_list{
		width: 720px;
		height: 340px;
	}
	.third_shop_list li{
		display: block;
		width: 240px;
		height: 171px;
		float: left;
		border-right: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		box-sizing: border-box;
		text-align:center;
		position:relative;
	}
	.third_shop_list li:nth-child(-n+3){
		border-top:2px solid #ff5160;
	}
	.one_floor_ul>li:nth-child(1){
		margin-top:2px;
	}
	.one_floor_ul li:nth-child(2){
		border-top:2px solid #ff5160;
	}
	.third_shop_list li >a>img{
		height: 100%;
	}
	.shop_list_mask{
		position:absolute;	
		width:100%;
		background:rgba(255,255,255,0.8);
		left:0;
		bottom:0;
	}
	.shop_list_mask a{
		display: block;
		height: 22px;
		line-height: 22px;
		color:#333;
		text-shadow: 0 0 2px #fff;
		padding-top: 3px;
		overflow: hidden;
		font-size: 12px;
	}
	.shop_list_mask a:hover{
		text-decoration: underline;
	}
	.shop_list_mask span{
		display: block;
		height: 20px;
		line-height: 20px;
		font-size: 16px;
		color:#e4393c;
		font-weight: bold;
		font-family: Arial,Verdana;
	}
	.shop_list_mask span small{
		font-size: 12px;
		font-family: "Microsoft YaHei";
	}
	/*手机商城*/
	.phone_buy{
		width: 1200px;
		margin:0 auto;
		margin-bottom: 20px;
	}
	.phone_buy>h3{
		height: 30px;
		font-size: 16px;
		color: #333;
		margin-left: 10px;
		line-height: 30px;
	}
	.phone_buy ul{
		overflow: hidden;
	}
	.phone_buy li{
		float: left;
		width: 390px;
		margin-right: 15px;
	}
	.phone_buy li p{
		font-size: 13px;
		color:#333;
		height: 30px;
		line-height: 30px;
		margin-left: 10px;
	}
	.phone_buy li img{
		width:100%;
	}
	.phone_buy>ul>li:last-child{
		margin:0;
	}
	.weibo{
		width:100%;
		height: 298px;
		box-sizing: border-box;
		border:1px solid #d2d2d2;
		border-top: none;
	}
	.weiboTop{
		padding:13px 0 15px;
		border-bottom:1px solid #d2d2d2;
	}
	.weiboTop_pic{
		float: left;
		margin-left: 15px;
		display: inline;
	}
	.weiboTop_pic a{
		display: block;
		width:50px;
		height: 50px;
	}	
	.weiboTop_pic img{
		width:100%;
	}
	.weiboTop_detail{
		margin-left: 73px;
	}
	.weiboDetail_top{
		height: 17px;
		/*overflow: hidden;*/
		margin-left: 2px;
	}
	.weiboDetail_top dt{
		display: inline-block;
	}
	.weiboDetail_top dt a{
		font-size: 14px;
		line-height: 16px;
		color: #0078b6;
	}
	.weiboDetail_top dt img{
		width: 17px;
	}
	.weiboDetail_top dd{
		display: inline-block;
	}
	.weiboDetail_top dd span{
		color: #999;
	}	
	.weiboDetail_btn{
		margin-top: 8px;
		width: 64px;
		height: 24px;
		background: url(../images/img_index/follow_normal.png) no-repeat;
	}
	.weiboDetail_btn:hover{
		cursor: pointer;
		background: url(../images/img_index/follow_hover.png) no-repeat;;
	}
	.border_top{
		width: 100%;
		height: 2px;
		background: -webkit-linear-gradient(left,#eb192d 0,#fdb940 100%);
	}