{% load static %}
<!DOCTYPE html>
<html>
<head>
	<script charset="utf-8" src="https://tag.baidu.com/vcard/v.js?siteid=5242374&amp;url=http%3A%2F%2Flppz.winguo.com%2Fcustomer%2Forder%2F&amp;source=&amp;rnd=556728939&amp;hm=1"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>全部订单 - 会员中心 </title>
<link href="http://css.winguo.com/themes/www/css/shop-head-v2.css?v=3.4.31" type="text/css" rel="stylesheet">
<link href="http://css.winguo.com/themes/creater/css/userCenter/css/userCenter-global.css?v=3.4.31" type="text/css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/public.css' %}">

<script type="text/javascript" src="http://js.winguo.com/jScripts/global/jQuery.js"></script>
<script type="text/javascript">
if(typeof(SEARCH_IMG_HOST) == "undefined" && typeof(REPLACE_IMG_HOST) == "undefined")
{
	var SEARCH_IMG_HOST="http://g1.img.winguo.com";
	var SEARCH_WINGUO_IMG_HOST="http://g1.img.winguo.com";
	var REPLACE_IMG_HOST="http://img.winguo.com";
}
var loginExec = '1';
</script>
<script type="text/javascript" src="http://js.winguo.com/jScripts/creater/base.js?v=3.4.31"></script>
<script type="text/javascript" src="http://js.winguo.com/jScripts/mall/usercenter/bind.js?v=3.4.31"></script>
<script type="text/javascript" src="http://js.winguo.com/jScripts/mall/shopping/shopping.js?v=3.4.31"></script><link href="http://css.winguo.com/skin/2013/mall/css/usercenter/allOrders.css?v=3.4.31" type="text/css" rel="stylesheet"><link id="artDialog-skin" href="http://js.winguo.com/jScripts/global/art/skins/simple.css?v=3.4.31" rel="stylesheet"><link type="text/css" rel="stylesheet" href="http://js.winguo.com/jScripts/global/calendar/src/css/jscal2.css?v=3.4.31"><script type="text/javascript" src="http://js.winguo.com/jScripts/global/art/jquery.artDialog.min.js?v=3.4.31"></script><script type="text/javascript" src="http://js.winguo.com/jScripts/mall/usercenter/orders.js?v=3.4.31"></script><script src="http://js.winguo.com/jScripts/global/calendar/src/js/jscal2.js?v=3.4.31"></script><script src="http://js.winguo.com/jScripts/global/calendar/src/js/unicode-letter.js?v=3.4.31"></script><script src="http://js.winguo.com/jScripts/wenwen/wen.js?v=3.4.31"></script><style type="text/css">
.sitesearch .logo .site_logo {float:left;width:175px;height:56px;background:url('http://css.winguo.com/themes/www/image/global/logo_v1_175x56.png') no-repeat;text-indent:-9999px;}
</style>
</head>


<body>

<div class="toolbar">
		<div class="toolbar_content wide">
			<div class="toolbar_content_left_logined">
				<p>
					<span>您好</span>
					<a href="" class="toolbar_username"></a>
					<span>,</span>
				</p>
				<p>欢迎来到良品铺子官方商城！</p>
				<a href="javascript:;" class="toolbar_quit">[退出]</a>
			</div>
			<ul class="toolbar_content_right">
				<li class="myInfo_li">
					<a href="" class="myInfo ">我的良品<i class="arrow"></i></a>
					<div class="myInfo_hover">
						<div class="myInfo_top">
							<div class="user_head">
								<a href=""><img src="images/img_index/avatar.png" alt=""></a>
							</div>
							<a href="">您好，请登录</a>
						</div>
						<ul class="myInfo_mid">
							<li><a href="">我的订单</a></li>
							<li><a href="">我的关注</a></li>
							<li><a href="">我的优惠券</a></li>
							<li><a href="">我的积分</a></li>
							<li><a href="">签到有好礼</a></li>
							<li><a href="">购物指南</a></li>
						</ul>
						<div class="myInfo_bottom">
							<p>最近浏览 <span><a href="" style="color:#555">更多></a></span></p>
						</div>
					</div>
				</li>
				<li class="attention_li">
					<a href="">关注良品</a>
					<div class="attention">
						<div class="wb">
							<div class="wb-tit">
								关注微博
							</div>
							<div class="wb-plus">
								<iframe src="http://widget.weibo.com/relationship/followbutton.php?btn=red&style=2&uid=1851770484&width=136&height=24&language=zh_cn" width="136" height="24" scrolling="no" frameborder="0"></iframe>
							</div>
						</div>
						<div class="attention_mid">
							<img src="images/img_index/dz_qrcode.jpg" alt="">
						</div>
						<div class="attention_bottom">
							<img src="images/img_index/weixin.png" alt="">
							<div>
								<p>微信扫一扫</p>
								<p>优惠随身携带!</p>
							</div>
						</div>
					</div>
				</li>
				<li><a href="">官方网站</a></li>
				<li><p><span class="tel_img"></span>全国订购热线：<span class="tel_num">400-1177-517</span></p></li>
				<li><a href="">在线客服 <i class="chat"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- header -->
	<div class="header clear_float">
		<div class="header_main">
			<div class="main_logo">
				<a href="#">良品铺子-BESTORE</a>
			</div>
			<div class="main_search">
				<div class="search_box">
					<p>
						热门搜索：
						<a href=""><span>松子</span></a>
						<a href="">牛肉</a>
						<a href="">开心果</a>
						<a href="">核桃</a>
						<a href="">话梅</a>
						<a href="">花生瓜子</a>
					</p>
					<input class="search_bar" type="input" placeholder="商品搜索" /><input class="search_btn" type="button">
				</div>
			</div>
		</div>
	</div>


<!--[if !IE]>头部内容结束，中间内容开始<![endif]-->
<div id="content" class="content">
	<div class="wPage">
    	<div class="cls">
        	<!--[if !IE]>主要内容开始<![endif]-->
            <div class="LayoutCenter">
                <div class="LayoutWrap">
                	<!--[if !IE]>nav<![endif]-->
                	<div class="navigation">
                        <div class="crumbs">
                            <a href="http://lppz.winguo.com/customer/">我的账户</a><a href="http://lppz.winguo.com/customer/order/">交易管理</a>已买到的商品
                            <a href="/customer/order/recycle/" class="right" style="float:right;background:none;_margin-top:-25px;">订单回收站</a>
                        </div>
                	</div>
                    <!--[if !IE]>nav<![endif]-->
                    <!--[if !IE]>订单搜索开始<![endif]-->
                    <div class="filter">
                    	<form id="filter" data-url="http://lppz.winguo.com/customer/order/">
                    	<ul class="cls">
                        	<li><span>商品名称：</span><input type="text" name="itemName" value=""></li>
                        	<li><span>店铺名：</span><input type="text" name="makerName" value=""></li>
                        	<li class="three">
								<span>评价状态：</span>
																<select name="commentStatus">
									<option value="ALL">全部</option>
									<option value="NOT">需我评价</option>
									<option value="HAS">我已评价</option>
								</select>
							</li>
                        	<li><span>订单编号：</span><input type="text" name="orderNumber" value=""></li>
                        	                        	<li><span>交易状态：</span>
								<select name="tradeStatus">
									<option value="ALL" selected="selected">全部</option>
									<option value="NOT_PAID">等待付款</option>
									<option value="PAID">等待发货</option>
									<option value="SEND">已发货</option>
									<option value="SUCCESS">成功的订单</option>
									<option value="DROP">关闭的订单</option>
									<option value="REFUNDING">退款中的订单</option>
								</select>
							</li>
							<li class="three">
								<span>物流服务：</span>
																<select name="logisticsService">
									<option value="ALL" selected="selected">全部</option>
									<option value="COD">货到付款</option>
								</select>
							</li>
							<!--
							<li>
								<span>售后服务：</span>
								<select name="tradeDissension" id="tradeDissension">
									<option value="ALL">全部</option>
                                    <option value="BUYER_SUIT">买家投诉</option>
                                    <option value="SELLER_SUIT">已取消</option>
                                    <option value="REFUNDING">退款中</option>
                                </select>
							</li>
							 -->
                        	<li class="f_time"><span>成交时间：</span>从 <input type="text" id="startTime" name="startdate" value=""> 到 <input type="text" id="endTime" name="enddate" value=""></li>
                            <li class="three"><button type="submit" class="submit">搜索</button> <button class="reset">重置</button></li>
                        </ul>
                        </form>
                    </div>
                    <!--[if !IE]>订单搜索结束<![endif]-->
                    <!--[if !IE]>订单列表开始<![endif]-->
                    <div class="o_list" id="o_list">
                    	<div class="o_nav">
							                        	<ul class="cls">
																<li class="select">
																		<a href="http://lppz.winguo.com/customer/order/index?tradeStatus=ALL">近三个月订单</a>
								</li>
																<li>
																		<a href="http://lppz.winguo.com/customer/order/index?tradeStatus=NOT_PAID">等待付款</a>
								</li>
																<li>
																		<a href="http://lppz.winguo.com/customer/order/index?tradeStatus=PAID">等待发货</a>
								</li>
																<li>
																		<a href="http://lppz.winguo.com/customer/order/index?tradeStatus=SEND">已发货</a>
								</li>
																<li>
																		<a href="http://lppz.winguo.com/customer/order/index?tradeStatus=REFUNDING">退款中</a>
								</li>
																<li>
																		<a href="http://lppz.winguo.com/customer/order/index?tradeStatus=SUCCESS">成功的订单</a>
								</li>
																<li>
																		<a href="http://lppz.winguo.com/customer/order/index?tradeStatus=DROP">关闭的订单</a>
								</li>
																<li>
																		<a href="http://lppz.winguo.com/customer/order/index?tradeStatus=EVER">三个月前订单</a>
								</li>
								                            </ul>
							<!--<div class="recycle_bin"><a href="#">回收站</a></div>-->
                        </div>
                        <form action="" method="post">
                        <table>
                        	<colgroup>
                            	<col class="t1">
                            	<col class="t2">
                            	<col class="t3">
                            	<col class="t4">
                            	<col class="t5">
                            	<col class="t6">
                            	<col class="t7">
                            	<col class="t8">
                            	<col class="t9">
                            </colgroup>
                        	<thead>
                            	<tr class="tit">
                                	<th colspan="2" class="tit1">商品</th>
                                    <th>单价（元）</th>
                                    <th>数量</th>
                                    <th>售后</th>
                                    <th>实付款（元）</th>
                                    <th>交易状态</th>
                                    <th>交易操作</th>
                                    <th class="tit9">其他操作</th>
                                </tr>
                            </thead>
							<tbody><tr><td colspan="9"><center>没有符合条件的商品，请尝试其他搜索条件。90天前卖出的商品，请到 <a href="http://lppz.winguo.com/customer/order/index?tradeStatus=EVER">三个月前订单</a>中查询。</center></td></tr></tbody>                        </table>
                        </form>
                    </div>
                    <!--[if !IE]>订单列表结束<![endif]-->
                    <!--[if !IE]>弹出框开始<![endif]-->
                    <div class="o_close" id="o_close">
                    	您确定要取消该订单吗？取消订单后，不能恢复。<br>
                        <b>请选择取消订单的理由：</b><br>
                        <form action="http://lppz.winguo.com/customer/order/msg/">
                        <select name="close_cause" id="close_cause">
							<option value="">请选择关闭理由</option>
							<option value="6">我不想买了</option>
							<option value="8">信息填写错误，重新拍</option>
							<option value="9">卖家缺货</option>
							<option value="10">同城见面交易</option>
							<option value="11">其他原因</option>
						</select>
                        <input type="hidden" value="">
                        <span style="color:red;display:none;" id="o_close_not_select">请选择关闭原因</span>
                        </form>
                    </div>
                    <div class="o_close" id="o_del">
                        <form action="http://lppz.winguo.com/customer/order/index?a=del">
                        <b>您确定要删除该订单么？</b><br>
                        删除后，您可在订单回收站找回，或永久删除
                        <input type="hidden" value="" name="id">
                        </form>
                    </div>
                    <!--[if !IE]>弹出框结束<![endif]-->
                </div>
            </div>
            <!--[if !IE]>主要内容结束<![endif]-->
            <!--[if !IE]>左边内容<![endif]-->
            <div class="LayoutLeft">
            	<!-- 用户左边侧边栏目  -->
<div class="ws-catebox">
    <div class="item">
        <!--
		<div class="hd">我的交易</div>
		-->

        <div class="bd" id="wg_SellSelectMenu">
			            <div class="menu-box">
            	<h3 class="mywinguo-bar">
            		<span>交易管理</span>
            		<div class="extend"></div>
            	</h3>
                <ul class="group" style="">
										<!--
					<li class="selected" >
					-->
					<li>
					<span>
						<a href="/customer/order/">
						已买到的商品						</a>
						</span>
					</li>
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="/cart/" target="_blank">
						我的购物车						</a>
						</span>
					</li>
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="/customer/history/">
						浏览历史						</a>
						</span>
					</li>
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="/customer/favorite/">
						我的收藏						</a>
						</span>
					</li>
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="/customer/address/">
						收货地址						</a>
						</span>
					</li>

                </ul>
            </div>
			            <div class="menu-box">
            	<h3 class="mywinguo-bar">
            		<span>退款维权</span>
            		<div class="extend"></div>
            	</h3>
                <ul class="group" style="">
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="/customer/refund/">
						退款管理						</a>
						</span>
					</li>
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="/customer/refund/after_sale/">
						售后管理						</a>
						</span>
					</li>

                </ul>
            </div>
			            <div class="menu-box">
            	<h3 class="mywinguo-bar">
            		<span>账户中心</span>
            		<div class="extend"></div>
            	</h3>
                <ul class="group" style="">
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="/customer/account/info/">
						账号信息						</a>
						</span>
					</li>
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="/customer/account/safe/">
						账号安全						</a>
						</span>
					</li>
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="/customer/account/bind/">
						账号绑定						</a>
						</span>
					</li>
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="http://lppz.pay.winguo.com" target="_blank">
						我的钱包						</a>
						</span>
					</li>

                </ul>
            </div>
			            <div class="menu-box">
            	<h3 class="mywinguo-bar">
            		<span>我的空间站</span>
            		<div class="extend"></div>
            	</h3>
                <ul class="group" style="">
										<!--
					<li  >
					-->
					<li>
					<span>
						<a href="http://lppz.passport.winguo.com/register?type=1">
						开通空间站						</a>
						</span>
					</li>

                </ul>
            </div>
			        </div>
    </div>
</div>            </div>
            <!--[if !IE]>左边内容<![endif]-->
        </div>
    </div>
</div><div id="footer" class="footer">
    <div class="help">
        <div class="wPage">
            <div class="help-item">

                <ul class="help-ul cls">
                                       <li>
                        <div class="help-txt">
                            <h2>新手上路</h2>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=78&amp;id=1&amp;artlang=zh" target="_blank">关于商城</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=42&amp;id=30&amp;artlang=zh" target="_blank">新手专区</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=42&amp;id=31&amp;artlang=zh" target="_blank">免费注册</a></p>
                            <p><a href="http://help.winguo.com/">帮助中心</a></p>
							<p><a href="http://m.kuaidi100.com" target="_blank">快递查询</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="help-txt">
                            <h2>购物指南</h2>
                            <!--
                            <p><a href="">怎样购物</a></p>
                            <p><a href="">使用果币</a></p>
							-->
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=13&amp;id=23&amp;artlang=zh" target="_blank">订单状态说明</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=54&amp;id=109&amp;artlang=zh" target="_blank">关于收货</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=29&amp;id=72&amp;artlang=zh&amp;highlight=%E6%94%B6%E8%B4%A7" target="_blank">关于售后</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="help-txt">
                            <h2>付款</h2>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=13&amp;id=58&amp;artlang=zh" target="_blank">货到付款</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=42&amp;id=30&amp;artlang=zh" target="_blank">在线支付</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="help-txt">
                            <h2>购物保障</h2>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=76&amp;id=108&amp;artlang=zh" target="_blank">品质保障</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=76&amp;id=85&amp;artlang=zh" target="_blank">先行赔付</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=76&amp;id=86&amp;artlang=zh" target="_blank">假一赔三</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=76&amp;id=84&amp;artlang=zh" target="_blank">快速发货保障</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=artikel&amp;cat=76&amp;id=87&amp;artlang=zh" target="_blank">无忧退货</a></p>
                        </div>
                    </li>
                    <li class="help-li-last">
                        <div class="help-txt">
                            <h2>商家服务</h2>
                            <p><a href="http://help.winguo.com/index.php?action=show&amp;cat=2" target="_blank">招商帮助</a></p>
                            <p><a href="http://sell.winguo.com/regist">商家入驻</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=show&amp;cat=41" target="_blank">商家中心</a></p>
                            <p><a href="http://help.winguo.com/index.php?action=show&amp;cat=14" target="_blank">商家规则</a></p>
                        </div>
                    </li>
                                   </ul>
            </div>
        </div>
    </div>
    <div class="wPage">
        <div class="footer-detail">
			<span class="copyright">
                <a href="http://www.miitbeian.gov.cn">粤ICP备14081128号-6</a> |
                <span>经营许可证编号：经营许可证编号:粤B2-20140190</span>
                <span>Copyright 2019 winguo.com版权所有</span>
            </span>
            <span class="footer-phone">客服热线：400-8828-122</span>
        </div>

    </div>
    <!--<div style="display:none;">
    <script language="javascript" type="text/javascript" src="http://js.users.51.la/17115560.js"></script>
  	</div>-->
</div>

<script type="text/javascript">
    var passport_host="http://passport.winguo.com";
</script>
<!--sidebar end-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fbea64380f47e5f2fbf938596dccb974e' type='text/javascript'%3E%3C/script%3E"));
</script><script src=" http://hm.baidu.com/h.js?bea64380f47e5f2fbf938596dccb974e" type="text/javascript"></script>
<div class="tip-title-notice w_TipTitleNotice" style="display: none; z-index: 2;"><div class="tip-hd w_TipHd"></div><div class="tip-bd w_TipBd"></div></div></body></html>