<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>良品铺子商城-用户登录</title>
	<meta name="description" content="良品铺子LPPZ.COM-专业的休闲食品网上购物商城，在线销售肉脯鱼干、果干果脯、糕点糖果、素食山珍、茶水饮料、进口食品、礼盒等数百种优质食品。便捷、诚信的服务，为您提供愉悦的休闲食品网上购物体验! ">
	<meta name="Keywords" content="网上商城,休闲零食，美食，牛肉干，鱼干，果干果脯，糕点糖果，素食山珍，茶水饮料，进口食品，礼盒，良品铺子">
</head>
<link rel="stylesheet" href="css/public.css" />
<link rel="stylesheet" href="css/login.css" />
<body>
	<!-- toolbar -->
	<div class="toolbar">
		<div class="toolbar_content wide">
			<ul class="toolbar_content_left">
				<li><span>您好，</span>欢迎来到良品铺子官方商城！</li>
				<li><a href=""></a></li>
				<li><a href="register.html">[注册]</a></li>
				<li><a href="">支付宝快捷登录</a></li>
				<li><a href="">qq登录</a></li>
				<li><a href="">微博登录</a></li>
			</ul>
			<ul class="toolbar_content_right">
				<li class="attention_li">
					<a href="">关注良品<i class="arrow"></i></a> 
					<div class="attention">
						<div class="wb">
							<div class="wb-tit">
								关注微博
							</div>
							<div class="wb-plus">
								<iframe src="http://widget.weibo.com/relationship/followbutton.php?btn=red&style=2&uid=1851770484&width=136&height=24&language=zh_cn" width="136" height="24" scrolling="no" frameborder="0"></iframe>
							</div>
						</div>
						<div class="attention_mid">
							<img src="images/img_index/dz_qrcode.jpg" alt="">
						</div>
						<div class="attention_bottom">
							<img src="images/img_index/weixin.png" alt="">
							<div>
								<p>微信扫一扫</p>
								<p>优惠随身携带!</p>
							</div>
						</div>
					</div>
				</li>
				<li><a href="">官方网站</a></li>
				<li><p><span class="tel_img"></span>全国订购热线：<span class="tel_num">400-1177-517</span></p></li>
			</ul>
		</div>
	</div>
	<!--header-->
	<div class="header">
		<a href="index.html" title="良品铺子" >
			<img src="images/img_login/logo.png" alt="" />
		</a>
		<h1>欢迎登录</h1>
	</div>
	<!--login-->	
	<div class="login clear_float">
		<div class="login_left">
			<img src="images/img_login/ad.png" alt="" />
		</div>
		<div class="login_right">
			<div class="tit">
				<h3>会员登录</h3>
				<p>新用户，<a href="">免费注册&gt</a></p>
			</div>
			<span class='reg_tip'></span>
			<p>用户名</p>
			<input type="text" class="login_username"/>
			<p>密码</p>
			<input type="password" class="login_userpass"/>
			<a href="" class="forget_pwd">忘记密码？</a>
			<a href="">已有会员卡，我要激活</a>
			<a href="javascript:;" class="login_btn">登 录</a>
			<div class="other_login clear_float">
				<p>使用合作网站账号登录良品铺子：</p>
				<ul class="toolbar_content_left">
					<li></li>
					<li></li>
					<li></li>
					<li><a href="">支付宝快捷登录</a></li>
					<li><a href="">qq登录</a></li>
					<li><a href="">微博登录</a></li>
				</ul>
			</div>
			<div class="login_bottom_code">
				<p>良品微信商城，手机专属享优惠</p>
				<img src="images/img_login/code.png" alt="" class="login_bottom_code_pointer" />
				<img src="images/img_index/dz_qrcode.jpg" class="login_bottom_code_pointer_img"/>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="foot_area">
			<div class="foot_nav">
				<ul>
					<li><a href="">关于我们</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">客户服务</a></li>
					<li><a href="">诚聘英才</a></li>
					<li><a href="">商务合作</a></li>
					<li><a href="">媒体报道</a></li>
					<li><a href="">网站地图</a></li>
					<li><a href="">快递查询</a></li>
				</ul>
			</div>
			<div class="foot_copyright">
				Copyright@2006-2017 湖北良品铺子电子商务有限公司 All rights Reserved<br/>
				<a href="">鄂ICP备15022981号</a><br/>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<script type="text/javascript" src="js/cookieTools.js"></script>
<script type="text/javascript">
$(function(){
	//关注良品显示隐藏
	makeHideAndShow($(".attention_li"),$(".attention"),200);
	makeHideAndShow($(".login_bottom_code_pointer"),$(".login_bottom_code_pointer_img"),200);
	//input边框
	let input_btns=$(".login_right input");
	for(let i=0;i<input_btns.length;i++){
		$(input_btns[i]).focus(function(){
			$(this).css("border","1px solid #F04747");
		});
		$(input_btns[i]).blur(function(){
			$(this).css("border","1px solid #ccc");
		});
	}
	//css里面这里在服务器上一直不更新
	$(".toolbar_content_left").css("display","block");
	
	if(document.cookie!=""){ //有缓存
		$(".login_username").val(getCookie("userName"));
	}
	
	//登录的提示信息
	let $reg_tip=$(".reg_tip");
	//登录
	$(".login_btn").click(function(){
		$.ajax({
			type:"post",
			url:"php/login.php",
			async:true,
			data:{
				"userName":$(".login_username").val(),
				"userPass":$(".login_userpass").val()
			},
			success:function(msg){
				if(msg==1){
					//登录成功,跳转，cookie
					addCookie("userName",$(".login_username").val(),7);
					location.href="index.html";
				}else if(msg==-1){
					$reg_tip.css("display","block");
					$reg_tip.text("连接服务器失败，请稍后登录");
				}else if(msg==0){
					$reg_tip.css("display","block");
					$reg_tip.text("错误的用户名或密码");
				}
			}
		});
	});

	
});
</script>